:root {
    font-family: Roboto, system-ui, Avenir, Arial, Helvetica, sans-serif;
}

div {
    display: block;
}

h1 {
    font-size: 48px;
    font-weight: 500;
    /* font-style: italic; */
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 10px;
    margin-bottom: 0;
}

hr.spacer {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 40px 0 60px 0;
}


/* CSS Specificity */

p {
    color: #7e12dd;
    font-size: 18px;
    line-height: 0.9;
}

p .test {
    font-weight: bold;
    color: #e60d40;
}

#red-text {
    color: red;
}

.green-text {
    color: #0ed148;
}

div p.green-text {
    color: turquoise;
}


ul li {
    color: #e60d40;
}

ul li.active {
    color: #0d11e6;
}



/* CSS Box Model */

.outer {
    background-color: bisque;
    display: inline-block;
    width: 50%;
    overflow-x: hidden;
    /* display: none; */
    /* visibility: hidden; */
}

.inner>div {
    background-color: #0de614;
    /* display: none; */
    /* visibility: hidden; */
}


.outer .inner>div {
    background-color: #0d11e6;
    /* display: none; */
    /* visibility: hidden; */
}

.inner {
    width: 300px;
    height: 200px;
    background: aqua;
    border: 3px solid #000;
    border-radius: 12px;
    /* border-color: #000; */
    /* border-width: 3px; */
    /* border-style: solid; */
    display: inline-block;
    padding: 30px;
    margin: 30px;
}

.inner-child {
    width: 50%;
    height: 100%;
    /* border-radius: 50%; */
    background-color: rgba(250, 128, 114, 0.8);
    border: 3px solid #000;
    /* opacity: 20%; */
}